<!DOCTYPE html>
<meta charset="UTF-8" />
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
  <title>HW-7</title>
  <link rel="stylesheet" href="styles.css" />
</head>

<body>
  <div id="app">
    <header>
      <custom-input v-model="searchLine"></custom-input>
      <button class="button-search" v-on:click='filterGoods'>Поиск</button>
      <!-- <input type="text" class="goods-search" />
        <button class="search-button" type="button">Искать</button> -->
      <button class="cart-button" type="button" v-on:click='isVisibleCart = !isVisibleCart'>Корзина</button>
    </header>
    <main>
      <goods-list :goods="filteredGoods"></goods-list>

      <div class="basket" id="basket" v-if='isVisibleCart'>
        <h2>Корзина покупок</h2>
        <!-- <div class="basket-list">
            <div class="basket-item" v-for="good in basketList" v-if="basketList.length > 0">
                <h3>{{good.product_name}}</h3>
                <p>{{good.price}}</p>
            </div>
            <div v-if="basketList.length === 0">
                <p>Вы пока еще ничего не добавили в корзину</p>
            </div>
        </div> -->

        <basket-list :basketList="basketList"></basket-list>

    </div>
    </main>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="script.js"></script>

</html>