<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les-5</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <header>
            <input type="text" class="goods-search" />
            <button class="search-button" type="button" v-on:click='filterGoods'>Искать</button>
            <button class="cart-button" type="button" v-on:click='isVisibleCart = !isVisibleCart'>Корзина</button>
        </header>
        <main>
            <div class="goods-list">   
                <h1>Каталог товаров</h1>             
                <div class="goods-item" v-for="good in filteredGoods" v-if="filteredGoods.length > 0">
                    <h3>{{good.product_name}}</h3>
                    <p>{{good.price}}</p>
                    <button class="btnAddGood" :id='good.id_product' v-on:click='addBasket(good.id_product)'>В
                        корзину</button>
                </div>
                <div v-if="filteredGoods.length === 0">
                    <p>Список товаров пуст</p>
                </div>
            </div>
            <div class="basket" id="basket" v-if='isVisibleCart'>
                <h1>Корзина покупок</h1>
                <div class="basket-list">
                    <div class="basket-item" v-for="good in basketList" v-if="basketList.length > 0">
                        <h3>{{good.product_name}}</h3>
                        <p>{{good.price}}</p>                        
                    </div>
                    <div v-if="basketList.length === 0">
                        <p>Вы пока еще ничего не добавили в корзину</p>
                    </div>
                </div>
            </div>
        </main>
    </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="script.js"></script>

</html>